body {
  padding-top: 60px;
}

[ng-click] {
  cursor: pointer;
}

input {
  height: auto!important;
}

.underline {
  text-decoration: underline;
}

.crawled {
  background-color: red;
}

.form label {
  margin-top: 10px;
}
