<div>
  <h3>Letzte Spiele</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Ergebnis</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in matches">
        <td>{{match.date | datetime}}</td>
        <td>Defensive: {{match.team1.defensive.name}}<br/>Offensive: {{match.team1.offensive.name}}</td>
        <td>Defensive: {{match.team2.defensive.name}}<br/>Offensive: {{match.team2.offensive.name}}</td>
        <td>{{match.result.team1}} : {{match.result.team2}}</td>
      </tr>
    </tbody>
  </table>
</div>
